body {
    margin: 0;
    padding: 0;
    text-align: center; 
}

div#instafeed {
  margin: 0 auto;
  left: 50%;
}

#instafeed {
  margin-left: auto;
  margin-right: auto;
}
#instafeed a {
  margin: 0.5em 0.5em;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: calc(100%/4 - 1em);
  border:2px solid #e1e1e1;
border-radius: 4px;
}

#instafeed .likes {
  font-size:1.5em;
  position:absolute;
  color:#ffffff;
  right:5px;
  top:5px;
  left:5px;
  opacity:0;
  text-align:center;
  line-height:150px;
  text-shadow:0 1px rgba(0,0,0,0.5);
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}

#instafeed img {
  display: inline;
  margin-bottom: -3px;
  width: 100%;
  height: auto;
  max-width: 100%;
 
}

