<!DOCTYPE html>
<html>
        <head>
                <title>Gallery Insta-site</title>
                <link href = "css/style.css" rel = "stylesheet">
                <link href = "css/animations.css" rel = "stylesheet">
                <link href = 'css/fancybox.css' rel= 'stylesheet'>

        </head>
<body>
  <div class="container" ng-app="root">
    <div ng-controller="index">
      <h1>Instagram gallery</h1>
        <input id="search" ng-model="search"  type="text"  placeholder="Search for...">
        <input type="submit" value="Search" ng-click="searchTag()" ng-enter="search">
    </div><!-- /ng-controller -->
  <div id='instafeed'></div>
  </div> <!-- /container -->
		

<script src='js/jquery.js'></script>            
<script src='js/instagram-feed.js'></script>
<script src='js/angular.js'></script>
<script src="js/search.js"></script>
<script src='js/fancybox.js'></script>
</body>
</html>